*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-image: url(img/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar, .main, .boxButtons, .boxTargets{
    display: flex;
}
.navbar{
    padding: 3px 50px;
    align-items: center;
    font-size: 15px;
}
.leftSide{
    display: flex;
    margin-left: 50px;
}
.leftElement, .rightElement{
    margin: 0 15px;
    cursor: pointer;
}
.leftElement:hover, .rightElement:hover{
    text-decoration: underline;
}
.rightSide{
    display: flex;
    margin-left: auto;
}
.main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.boxIpt{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.iptSearch{
    color: black;
    width: 500px;
    padding: 15px;
    border: none;
    border-radius: 4px;
}
.boxIpt{
    display: flex;
    align-items: center;
}
textarea:focus, input:focus{
    outline: none;
}
.iconsSearch{
    color: rgb(33, 151, 255);
    margin: 0 5px;
    cursor: pointer;
}
.boxIcons{
    margin: 0 5px;
    display: flex;
    height: fit-content;
    width: fit-content;
}
.footer{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    padding: 0 50px;
    bottom: 10px;
}
.boxTargets{
    justify-content: center;
    align-items: flex-end;
}
.target{
    cursor: pointer;
    width: 150px;
    height: 200px;
    margin: 0 10px;
    background-image: url(img/noticia.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.boxButtons{
    padding: 10px;
}
.button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.rightButtons{
    display: flex;
    margin-left: auto;
}
.footerButtons{
    color: white;
}